body {
  background-color: rgb(238, 235, 235);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(221, 218, 218);
}

.tab {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.tabActive {
  background-color: #595cdd;
  color: white;
  cursor: pointer;
}

.tabActiveRight {
  border-radius: 10px 0 0 10px;
}

.tabActiveLeft {
  border-radius: 0 10px 10px 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  padding: 5px 5px 10px 20px;
  margin: 20px 0;
  text-align: left;
  position: relative;
}

.showButton {
  border: 1px solid #595cdd;
  background-image: url('assets/icons8-eye-24.png');
  background-repeat: no-repeat;
  background-position: right 5px bottom 50%;
  text-align: left;
  padding-left: 3px;
  width: 5em;
  transition: all 0.3s ease;
}

.showButton:hover {
  background-color: rgb(235, 233, 233);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.refreshButton {
  border-radius: 50%;
  background-color: #595cdd;
  background-image: url('assets/icons8-refresh-90.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.refreshButton:hover {
  background-color: #4a50c9;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.refreshButton:active {
  background-color: #3f45a3;
  transform: scale(0.95);
  box-shadow: none;
}

.saveButton {
  background-color: white;
  background-image: url('assets/icons8-bookmark-48-2.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 10px;
  left: 355px;
  transition: all 0.3s ease;
}

.jokeType {
  color: rgb(120, 119, 119);
}

.saveButton:hover {
  border: none;
  transition: none;
}
